h3.STitulo{
 	text-align: center;
 	padding: 0px;
 	margin: 0px;
 	color: #1d5464;
 	font-size: calc(15px + 1.5vw);
 	font-family: sans-serif;
 	margin-top: 30px;
 }

 p.Init{
 	width: 45vw;	
 }

 iframe.Init{
 	width: 40vw;
 	height: 22.5vw;
 }

 #Cont{
 	display: inline-block;
 }