table.MCancion{
	width: 100%;
	margin-top: 30px;
}

th.MenuN{
	width: 68vw;
	display: inline-table;
}

th.SideBar{
	width: 28vw;
	vertical-align: top;
}

iframe.Init{
 	width: 96%;
 	height: 22.5vw;
 }

p.SideBar{
	text-align: justify;
	font-size: calc(8px + 1vw);
}

img.SideBar{
	width: 5vw;
}

th.Cancion{
	width: 45%;
	display: inline-block;
	background-color: #98ccd3;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #364e68;
	margin-bottom: 4vw;
}

table.Cancion{
	width: 100%;
}

#ci{
	margin-right: 2vw;
}

#cd{
	margin-left: 2vw;
}

iframe.Cancion{
	width:75%;
	height:80px;
}

img.Cancion{
	width: 75%;
}

h3.Cancion{
	font-size: calc(10px + 2vw);
	margin: 0;
}

h4.Cancion{
	font-size: calc(8px + 1.2vw);
	margin: 0;
}

@media only screen and (max-width: 1000px){
	th.SideBar{
		display: none;
		width: 0;
	}

	th.MenuN{
		width: 100%;
	}
}

@media only screen and (max-width: 650px){
	th.Cancion{
		width: 65%;
	}
}