table.Nominados{
	width: 100%;
	margin-top: 10px;
}

th.MenuN{
	width: 68vw;
	display: inline-table;
}

th.SideBar{
	width: 28vw;

}

div.ContN{
	display: inline-block;
	width: 46%;
	text-align: center;
	margin-top: 9vw;
	background-color: #98ccd3;
	border-radius: 20px;
	padding-top: 10px;
	box-shadow: 3px 3px 10px #364e68;
}

#c1{
	margin-right: 0.5vw;
}

#c2{
	margin-left: 0.5vw;
}

img.ContN{
	width: 5vw;
}

iframe.Init{
 	width: 96%;
 	height: 22.5vw;
 }

a.LinkC{
	text-decoration: none;
	color: black;
}

p.ContN{
	padding-left: 5vw;
	padding-right: 5vw;
	font-size: calc(8px + 1.3vw);
}

p.SideBar{
	text-align: justify;
	font-size: calc(8px + 1vw);
}

h3.ContN{
	font-size: calc(8px + 2vw);
}

img.SideBar{
	width: 5vw;
}

